@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); 
/*font-family: 'Raleway', sans-serif;*/

/*Colors*/
/*
color: #0065FC; strong blue
color: #DEEBFF; blue
color:#F2F2F2; grey
*/

/*Typography*/
body, p{
    /* Information */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin:8px 0;
}

h1{
    /* Title/Section */
    font-weight: 700;
    font-size: 22px;
    margin:16px 0;
}

h2{
    /* Title/Section */
    font-weight: 700;
    font-size: 22px;
    margin:8px 0;
}

h3{
    /*Card/Title*/
    font-weight: 700;
    font-size: 16px;
    margin:8px 0;
}

h4,span{
    /*Afficher/Filter texte */
    font-weight: 700;
    font-size: 18px;
    margin:10px 0;
}

h5{
    /*filters buttons Text */
    font-weight: 700;
    font-size: 17px;
    margin:8px 0;
    /*for mobile 11px*/
}

h6{
    /*Prices Text */
    font-weight: 400;
    font-size: 14px;
    margin:8px 0;
}

/*tous les liens*/
a{
    color:black;
    text-decoration:none;
}

a:hover{
    color: black;
}

/*main divs for page design*/
body{
    margin: 0;
    background-color: #ffffff;
}

.page{
    width: 100%;
    padding: 0 40px;
    max-width: 1320px;
    margin: auto;
    text-align: center;
    background-color: white;
}
/*nav and links*/

/*nav*/
.nav_content{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left:40px;
    max-width: 1360px;
    margin:auto;
}
.nav_img{
    width: 61px;
}
nav ul{
    display:flex;
    justify-content:right;
    width:30%;
}

nav li{
    list-style-type: none;
}

.nav__link{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin:0;
    text-align: center;
}

/*links*/
li a{
    color:black;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 38px;
    text-decoration:none;
    text-align: right;
    /*padding:20px 0;*/
}

li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

ul{
    margin:0;
    padding:0;
}

/*header*/
header{
    width:100%;
}
.header_content{
    text-align: left;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    max-width: 1320px;
}

/*filtres de recherche*/
.header_filtres{
    display:flex;
    margin-top:30px;
    align-items: center;
}

.header_filter_txt{
    margin-left:10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.header_filter_txt a:hover{
    color:black;
}

.header_icon_color{
    color:#0065FC;
}

.header_filtres_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:25px;
    border: 2px solid #D9D9D9;
    width: fit-content;
    padding:4px 16px;
    margin-left: 30px;
}

.header_filtres_button:hover{
    background-color: #DEEBFF;
}

.filter_block{
    display:flex;
}

/*CTN du site => barre de recherche*/
.ctn{
    display:flex;
    justify-content: flex-start;
}

.header_icon{
    background-color: #f2f2f2;
    border-radius:16px 0 0 16px;
    /*width:24px;
    height:16px;*/
    padding:16px;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
}

i.header_icon{
    align-self: center;
}

.ctn_research{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    padding-left:20px;
}

input{
    border:2px solid #F2F2F2;
}

/*boutton de recherche*/
.btn-search{
    background-color: #0065FC;
    color:white;
    border:none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding:0 16px;
    border-radius:0 16px 16px 0;
}


.btn-search:hover{
    background-color: #DEEBFF;
}

i.btn_search_icon{
        display: none;
}

.btn-search_txt{
    display: block;
}


/*advertising du site*/
.adv{
    display:flex;
    align-items: center;
    margin: 25px 0px;
}

.adv_icon{
    color: #0065FC;
    border-radius : 50%;
    width:16px;
    height:16px;
    padding:6px 6px;
    border:1px solid #D9D9D9;
    text-align: center;
    margin-right: 15px;
}

section{
    display: flex;
    justify-content: space-between;
}


/*cards d'hebergement*/

.container{
    background-color: #F2F2F2;
    border-radius:20px;
    padding:30px 40px;
    width:62%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.container_card_block{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container_card_block a{
    width:30%;
}

.container_card{
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius:15px;
    max-width:246px;
    height:199px;
    padding:5px;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    overflow: hidden;
}


.container_card_img{
    border-radius:10px 10px 0 0;
    width:100%;
    height: 60%;
    object-fit: cover;
    /*transform: scale(1.2);*/

}

.container_card_ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding:0 10px;
}

.container_card_txt{
    text-align: left;
    overflow-wrap: normal;
}

.container_card_icon{
    color: #0065FC;
}

.container_card_icon_off{
    color: #f2f2f2;
}

/*cards les plus populaires*/
.container_populaires{
    background-color: #F2F2F2;
    border-radius:20px;
    padding:30px 40px 0 40px;
    text-align: left;
    width:24%;
    justify-content: flex-start;
    display:flex;
    flex-direction: column;
}

.populaires_card{
    display:flex;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius:15px;
    height:144px;
    padding:5px;
    margin-bottom:25px;
}

.populaires_card_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires_card_img{
    border-radius:10px 0 0px 10px;
    width:40%;
    height:100%;
    object-fit: cover;
}
.populaires_card_ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0 15px 5px 15px;
}
.populaires_card_txt{
    text-align: left;
    margin-bottom: auto;
}

/*activités à marseille*/
.asside{
    text-align: left;
    margin: 40px 0px;
}

.activites{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.activites a{
    width:21%;
}

.activites_card{
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius:15px;
    height:444px;
    display:flex;
    flex-direction: column;
}

.acitivites_card_img{
    border-radius:15px 15px 0 0;
    width:100%;
    height: 88%;
    object-fit: cover;
    /*margin-bottom: auto;*/
}

.acitivites_card_txt{
   padding: 0px 20px;
   margin-top: auto;
   margin-bottom: auto;
}

/*footer de la page*/
.footer_content{
    background-color: #F2F2F2;
    padding:40px 70px;
    display:flex;
    justify-content: flex-start;
}

.footer_col{
    width:35%;
    text-align: left;
}

.footer_col a{
    display: block;
    margin-top: 10px;
}

.footer_col a:hover{
    color: #0065FC;
}

/*sur les écrans des tablettes*/
@media screen and (min-width: 778px) and (max-width: 992px)
{

    .page{
        padding: 0 60px;
        width:auto;
    }

    /*nav*/
    nav ul{
        width:30%;
    }

    /*li a{
        padding: 38px 10px;
    }*/

    /*header*/
    /*filtres de recherche*/
    .header_filter_txt{
        font-size: 17px;
    }

    .header_filtres_button{
        margin-left: 20px;
        justify-content: flex-start;
    }

    /*CTN du site => barre de recherche*/
    .ctn_research{
        width:25%;
    }

    section{
        flex-direction: column;
    }
 

    /*cards d'hebergement*/
    .container{
        width:auto;
        text-align: left;
        margin-bottom: 40px;
    }

    .container_card_block{
        margin-bottom:0px;
    }

    .container_card_block a{
        width:32%;
    }
   
    .container_card{
        margin: 0 20px 20px 0;
        display:flex;
        flex-direction: column;
    }

    /*cards les plus populaire*/
    .container_populaires{
        text-align: left;
        width:auto;
        margin-bottom: 40px;
    }

    .populaires_card_block{
        display:flex;
        justify-content: space-between;
    }

    .populaires_card_block a{
        width:30%;
    }
     
    .populaires_card{
         width:100%;
    }

    .populaires_card_ctn{
        padding: 0 8px;
    }

    /*activités à marseille*/
    .activites_card{
        height:267px;
    }

    .activites a{
        width:21%;
    }

    .acitivites_card_img{
        height: 78%;
    }
   
}

/*sur les écran des portables*/
 @media screen and (max-width: 768px)
 {
    /*Typography*/

    h5{
        font-size: 11px;
    }

    span{
        display:none;
    }

    /*main divs for page design*/
    .page{
        padding: 0;
        width:auto;
        
    }

    /*header*/
    header{
        width:100%;
        margin: auto;

    }

    .header_content{
        width:88%;
        margin: auto;
    }

    /*filtres de recherche*/
    .header_filtres{
        flex-direction: column;
    }
    
    .header_filter_txt{
        font-size: 0.8rem;
        font-size: 11px;
    }
    .filter_block{
        height:50%;
        width:100%;
        justify-content: space-between;
    }
    
    .header_filtres_button{
        margin: 10px 0px 10px 0;
        align-items: center;
        width:42%;
        height:25px;
        justify-content: left;
    }

    /*nav*/
    .nav_content{
        flex-direction: column;
        width:100%;
    }

    .nav_img{
        margin-bottom: 50px;
    }

    nav ul{
        width:100%;
    }

    nav li{
        width:50%;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 16px;
    }

    nav li:hover{
        border-bottom: 2px solid #0065FC;
    }

    nav{
        margin-bottom: 30px;
    }

    .nav__link{
        margin:0px;
        text-align: center;
    } 

    li a:hover{
        color: #0065FC;
        border-top: 0px solid;
    }

    i.btn_search_icon{
        display:block;
        margin: 0 15px;
    }

    /*CTN du site => barre de recherche*/
    .ctn_research{
        width:100%;
    }

    /*advertising du site*/
    .adv{
        margin-top: 10px;
        margin-bottom:20px;
    }

    section{
        flex-direction: column-reverse;
    }

    /*cards d'hebergement*/
    article {
        width:100%;
    }

    .container{
        background-color: white;
        padding:0px;
        margin:auto;
        text-align: left;
        margin-top:30px;
        width:88%;
    }

    .container_card_block{
        flex-direction: column;
        margin-bottom:0px;
        align-items: center;
        margin: auto;
    }
    .container_card{
        width:auto;
        margin-bottom: 20px;
        margin-left:auto;
        margin-right:auto;
    }

    .container_card_block a{
        width:100%;
        margin:auto;
    }

    h4 a{
        display: none;
    }

    /*cards les plus populaires*/
    .container_populaires{
        border-radius:0px;
        padding:0px 0px 30px 0px;
        width:100%;
    }

    .populaires_card{
        width:88%;
        margin: auto;
        margin-bottom:20px;

    }

    .populaires_card_title{
        width:88%;
        margin: auto;
    }

    /*activités à marseille*/
    .asside{
        margin: 30px 0px 60px 0px;
        text-align: left;
    }

    .asside h2{
        margin-left: 25px;
        width:30%;
    }

    .activites{
        flex-direction: column;
    }

    .activites a{
        width:100%;
    }

    .activites_card{
        width:90%;
        height:190px;
        margin:auto;
        margin-bottom:20px;
    }

    .acitivites_card_img{
        height: 70%;
    }


    /*footer de la page*/
    .footer_content{
        flex-direction: column;
        padding:40px 30px;
    }

    .footer_col{
        width:100%;
        margin-bottom: 30px;

    }
 }

